@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*****
Global
*****/
html {
  color-scheme: light;
}

body {
  color: #282c34;
  background: white;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/*****
Header
*****/

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #1f1f1f;
  box-sizing: border-box;
  border-bottom: 4px solid #296dff;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  color: whitesmoke;
}

.header {
  display: flex;
}

.header>* {
  margin: 0 1rem;
}

.header-logo {
  position: relative;
  content: "";
  width: 100px;
  height: 2rem;
}

.header-logo>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-list>li {
  list-style-type: none;
}

.header-list>li+li::before {
  content: "";
  border-left: 2px solid #b4b4b4;
  height: 0.8rem;
}

.header-list>li>a {
  padding: 0 1rem;
}



.content {
  background-color: #ebebeb;
}

main {
  background: white;
  margin: 0 3rem;
  margin-top: 3rem;
  min-height: 90vh;
}